PORT=3001
DATABASE_URL=postgresql://usuario:senha@localhost:5432/facoffee_users
KEYCLOAK_ISSUER=http://localhost:8080/realms/facoffee
KEYCLOAK_JWKS_URI=http://localhost:8080/realms/facoffee/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=facoffee-private
KEYCLOAK_CLIENT_SECRET=facoffee-private-secret
KEYCLOAK_ADMIN_URL=http://localhost:8080
RABBITMQ_URL=amqp://facoffee:facoffee@localhost:5672
